body {
  background: rgb(20, 189, 85);
  color: rgb(70, 59, 59);
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  margin: 10px 0;
  width: 100px;
}

p {
  display: block;
  background: #96ffb1;
  margin: 0 auto;
  font-size: 40px;
  padding: 10px;
}